.wrapper {
    width: 300px;
    padding: 0px 15px 0px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header_image {
    width: 30px;
    height: 30px;
}

.header_name {
    font-size: 15px;
    text-transform: uppercase;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings__addition {
    display: flex;
    align-items: left;
    flex-direction: column;
}
.current {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advbanner {
    margin-bottom: 5px;
}

.autoclick {
    margin-bottom: 5px;
}

.question {
    margin-left: 152px; 
}

.aboutApp {
    display: block;
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 10px;
}

.aboutApp.hide {
    display: none;
}

.aboutApp__title {
    font-weight: 700;
}